* {
    box-sizing: border-box; 
    background-color: #18181B;
}

.title {
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    background-color: #A970FF;
    /*backgroundColor: "#DADEFE",*/
}

.main {
    display: flex;
    flex-direction: column;
    padding: 11px 30px;
}